@layer components {
  .display-none {
    display: none;
  }

  .focus-outline {
    @apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
  }


  .mockup-code:before {
    margin-left: -0.5rem !important;
  }

  .copy-code:hover {
    @apply text-accent bg-accent bg-opacity-20 !important;
  }

  .mockup-code {
    margin-top: 1rem !important;
  }

  .mockup-code pre {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }

  .mockup-code:hover {
    @apply drop-shadow-xl !important;
  }

  .mockup-code pre:before {
    margin-right: 0 !important;
  }

  .disabled {
    @apply pointer-events-none select-none opacity-50;
  }

  .disabled-svg {
    @apply pointer-events-none select-none opacity-50;
  }

  .prose :where(pre):not(:where([class~=not-prose], [class~=not-prose] *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

}
