@layer base {


  .tagCard {
    @apply bg-opacity-70 badge badge-primary text-current;
    background: border-box;
  }

  .tagCard:hover {
    @apply bg-opacity-30 bg-primary text-current;
  }

  li.tagCard {
    margin: 0.25rem;
    padding: 1.25rem;
  }

  .tagcount {
    @apply text-sm bg-secondary text-current;
  }


  body {
    @apply min-h-screen flex-col;
    font-family: 'Open Sans', sans-serif; 
  } 
  
  section,
  footer {
    @apply mx-auto max-w-4xl px-4;
  }

  svg {
    @apply inline-block h-6 w-6;
  }

  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }

 html {
    overflow-y: scroll;
    /* scrollbar-width: thin; */
  }  

  ::-webkit-scrollbar-track {
    @apply bg-primary bg-opacity-50;
  }
  
  ::-webkit-scrollbar {
    @apply w-2 bg-secondary bg-opacity-50;
  }
  
  ::-webkit-scrollbar-thumb {  
    @apply bg-accent bg-opacity-70;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      @apply  bg-primary bg-opacity-70;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    @apply tracking-tight;
    font-family: 'Poppins', serif;
  }

  p {
    @apply leading-relaxed;
  }

  section p a {
    @apply link link-primary text-primary;
  }

  .text-transparent {
    color: transparent;
  }


  @media (max-width: 640px) {
    .sm\:flex {
      display: flex;
    }

    .display-none {
      display: none !important;
    }
  }

  .header-card {
    border-bottom: 1px inset #ffffff40;
    border-top: 1px inset #ffffff40;
  }

  .perfil img {
    filter: grayscale();
    transition: 0.3s linear;
    cursor: pointer;
  }

  .perfil img:hover {
    filter: grayscale(0);
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem;
  }

  :where(.menu li) {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .glass{
    background-image: 
    linear-gradient(135deg,rgb(255 255 255/var(--glass-opacity,2%)) 0,#0000 100%),linear-gradient(var(--glass-reflex-degree,100deg),rgb(255 255 255/var(--glass-reflex-opacity,3%)) 30%,#0000 30%)!important
  }
  .prose h2#introdução {
    @apply mb-2;
  }
  @media (max-width: 640px) {
    .prose details {
      display: none;
    }
  }

  .prose summary {
    @apply focus-outline text-accent
  }
  .prose details a.active {
    @apply  bg-secondary bg-opacity-30 rounded-lg text-primary badge badge-primary border-0;
  }

  .prose details a:hover {
    @apply bg-secondary bg-opacity-10;
  }

  .prose summary::marker,.prose summary::-webkit-details-marker {
     @apply text-secondary  !important;
  }
 
  .prose h2#introdução {
    font-size: 0;
  }

 .dropdown-content.show{
  visibility: visible !important; 
  opacity: 1 !important; 
}
 
 
}
