---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import getPostsByTag from "@utils/getPostsByTag";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="Todas as tags utilizadas no blog.">
    <ul>
      {
        tags.map(({ tag }) => {
          const tagPosts = getPostsByTag(posts, tag);
          const tagCount = tagPosts.length;
          return <Tag {tag} size="lg" count={tagCount} />;
        })
      }
    </ul>
  </Main>
  <Footer />
</Layout>
