---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div
  class={`max-w-4xl mx-auto pt-4 px-4 sm:px-6 lg:px-8 ${
    noPadding ? "pt-0 pb-0" : ""
  }`}
>
  <div class="divider divider-neutral" aria-hidden={ariaHidden}></div>
</div>

<style>
  .divider-primary:before,
  .divider-primary:after {
    opacity: 0.7;
  }
</style>
