---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm"
      ? "my-1 underline-offset-4 dark:text-gray-300 transition-colors bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-gray-200 duration-300 hover:bg-gray-300 hover:text-gray-700 px-2 py-1 rounded text-gray-600"
      : "my-3 mx-1 underline-offset-8 dark:text-gray-300 transition-colors bg-red-200 dark:bg-red-800 dark:hover:bg-gray-700 dark:hover:text-gray-200 duration-300 hover:bg-gray-300 hover:text-red-700 px-2 py-1 rounded text-gray-600"
  }`}
>
  <a
    href={`/tags/${name}`}
    class={`${
      size === "sm" ? "pr-1 text-sm" : "pr-2 text-lg "
    } group underline underline-offset-4 decoration-wavy decoration-2 hover:text-skin-accent relative hover:-top-0.5 focus-visible:p-1`}
  >
    <span>{name}</span>
  </a>
</li>

<style>
  /* a {
    @apply underline decoration-thickness hover:text-skin-accent relative hover:-top-0.5 focus-visible:p-1;
  } */
  /* a svg {
    @apply w-6 h-6 text-skin-base scale-95 opacity-80 -mr-5 group-hover:fill-skin-accent;
  } */
</style>
