---

---

<div title="Change Theme" class="dropdown dropdown-end" id="theme-selector">
  <div
    tabindex="0"
    class="btn gap-1 rounded font-bold normal-case transition duration-300 hover:rounded-lg hover:bg-accent hover:bg-opacity-30 hover:text-current"
  >
    <svg
      width="20"
      height="20"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="inline-block h-5 w-5 md:h-6 md:w-6"
      stroke="currentColor"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
      ></path>
    </svg>
    <span class="md:inli: string | null: string | nullne hidden">Temas</span>
    <svg
      width="12px"
      height="12px"
      class="ml-1 hidden h-3 w-3 fill-current opacity-60 sm:inline-block"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
      ><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <div
    tabindex="0"
    class="dropdown-content top-px mt-16 h-[28.6rem] max-h-[calc(100vh-10rem)] w-56 overflow-y-auto rounded-box border border-white/5 bg-base-200 text-base-content shadow-2xl outline outline-1 outline-black/5"
  >
    <div class="grid grid-cols-1 gap-3 p-3">
      <button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="light"
        ><span
          data-theme="light"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">light</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="dark"
        ><span
          data-theme="dark"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">dark</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="cupcake"
        ><span
          data-theme="cupcake"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">cupcake</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="bumblebee"
        ><span
          data-theme="bumblebee"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">bumblebee</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="emerald"
        ><span
          data-theme="emerald"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">emerald</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="corporate"
        ><span
          data-theme="corporate"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">corporate</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="synthwave"
        ><span
          data-theme="synthwave"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">synthwave</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="retro"
        ><span
          data-theme="retro"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">retro</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="cyberpunk"
        ><span
          data-theme="cyberpunk"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">cyberpunk</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="valentine"
        ><span
          data-theme="valentine"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">valentine</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="halloween"
        ><span
          data-theme="halloween"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">halloween</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="garden"
        ><span
          data-theme="garden"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">garden</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="forest"
        ><span
          data-theme="forest"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">forest</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="aqua"
        ><span
          data-theme="aqua"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">aqua</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="lofi"
        ><span
          data-theme="lofi"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">lofi</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="pastel"
        ><span
          data-theme="pastel"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">pastel</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="fantasy"
        ><span
          data-theme="fantasy"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">fantasy</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="wireframe"
        ><span
          data-theme="wireframe"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">wireframe</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="black"
        ><span
          data-theme="black"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">black</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="luxury"
        ><span
          data-theme="luxury"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">luxury</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="dracula"
        ><span
          data-theme="dracula"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">dracula</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="cmyk"
        ><span
          data-theme="cmyk"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">cmyk</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="autumn"
        ><span
          data-theme="autumn"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">autumn</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="business"
        ><span
          data-theme="business"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">business</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="acid"
        ><span
          data-theme="acid"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">acid</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="lemonade"
        ><span
          data-theme="lemonade"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">lemonade</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="night"
        ><span
          data-theme="night"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">night</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="coffee"
        ><span
          data-theme="coffee"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">coffee</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="winter"
        ><span
          data-theme="winter"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">winter</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="dim"
        ><span
          data-theme="dim"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">dim</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="nord"
        ><span
          data-theme="nord"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">nord</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      ><button
        class="text-start outline-offset-4 outline-base-content"
        data-set-theme="sunset"
        ><span
          data-theme="sunset"
          class="block w-full cursor-pointer rounded-btn bg-base-100 font-sans text-base-content"
          ><span class="grid grid-cols-5 grid-rows-3"
            ><span
              class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
            >
              <span class="flex-grow text-sm">sunset</span>
              <span class="flex h-full shrink-0 flex-wrap gap-1"
                ><span class="w-2 rounded-badge bg-primary"></span>
                <span class="w-2 rounded-badge bg-secondary"></span>
                <span class="w-2 rounded-badge bg-accent"></span>
                <span class="w-2 rounded-badge bg-neutral"></span></span
              ></span
            ></span
          ></span
        ></button
      >
    </div>
  </div>
</div>

<style type="text/css">
  .theme-icon {
    display: flex;
    align-items: center;
  }

  .theme-icon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="red"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path></svg>');
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    visibility: hidden;
  }

  .theme-icon.active::before {
    visibility: visible;
  }
</style>

<script type="module">
  function ThemeSelector() {
    const themeSelectors = document.querySelectorAll(
      "#theme-selector button span[data-theme]"
    );

    if (!themeSelectors) return;

    themeSelectors.forEach(selector => {
      selector.addEventListener("click", async () => {
        await selectTheme(selector);
      });
    });

    const storedTheme = window.localStorage.getItem("data-theme");
    const initialTheme = storedTheme ? storedTheme : "aqua";

    const spanThemeSelector = document.querySelector(
      `#theme-selector button span[data-theme="${initialTheme}"]`
    );

    const buttonThemeSelector = document.querySelector(
      `#theme-selector button[data-set-theme="${initialTheme}"]`
    );

    const spanSelector = spanThemeSelector.getAttribute("data-theme");
    const buttonSelector = buttonThemeSelector.getAttribute("data-set-theme");

    if (spanSelector === buttonSelector && spanSelector === initialTheme) {
      if (!buttonThemeSelector.classList.contains("active")) {
        buttonThemeSelector.classList.add("theme-icon", "active");
        updateTheme(initialTheme);
      }
    }
  }

  function mudarTema(selector) {
    const newTheme = selector.getAttribute("data-theme");

    const allThemeSelectors = document.querySelectorAll(
      "#theme-selector button[data-set-theme]"
    );

    if (newTheme === window.localStorage.getItem("data-theme")) return;

    allThemeSelectors.forEach(themeSelector => {
      if (
        !themeSelector.classList.contains("[&_svg]:visible") &&
        newTheme === window.localStorage.getItem("data-theme")
      ) {
        themeSelector.classList.add("theme-icon", "active");
      }
    });

    if (newTheme !== window.localStorage.getItem("data-theme")) {
      allThemeSelectors.forEach(themeSelector => {
        themeSelector.classList.remove("theme-icon");
        themeSelector.classList.remove("active");
      });

      updateTheme(newTheme);
      allThemeSelectors.forEach(themeSelector => {
        if (themeSelector.getAttribute("data-set-theme") === newTheme) {
          themeSelector.classList.add("theme-icon", "active");
        }
      });
    }
  }

  function updateTheme(newTheme) {
    const htmlElement = document.querySelector("html");
    if (htmlElement) {
      htmlElement.setAttribute("data-theme", newTheme);
    }
    window.localStorage.setItem("data-theme", newTheme);
  }

  async function selectTheme(selector) {
    mudarTema(selector);
  }

  ThemeSelector();
  document.addEventListener("astro:after-swap", ThemeSelector);
</script>
